# Azure Authentication
AZURE_CLIENT_ID=your_client_id_here
AZURE_CLIENT_SECRET=your_client_secret_here
AZURE_TENANT_ID=your_tenant_id_here
AZURE_SUBSCRIPTION_ID=your_subscription_id_here
AZURE_RESOURCE_GROUP=your_resource_group_here
AZURE_LOCATION=japaneast

# Azure Storage
STORAGE_ACCOUNT_URL=https://yourstorageaccount.blob.core.windows.net
STORAGE_ACCOUNT=yourstorageaccount
CONTAINER_NAME=patent-all
CONTAINER_SAS=your_sas_token_here

# Azure Batch
BATCH_ACCOUNT_NAME=your_batch_account_name
BATCH_ACCOUNT_URL=https://yourbatchaccount.region.batch.azure.com
BATCH_ACCOUNT_KEY=your_batch_account_key
POOL_ID=jp-patent-extract-pool-prod
VM_SIZE=Standard_D8s_v3
NUM_ARCHIVES=18

# Azure Container Registry
ACR_SERVER=yourregistry.azurecr.io
ACR_USER=your_acr_username
ACR_PASSWORD=your_acr_password
DOCKER_IMAGE=yourregistry.azurecr.io/your-image:latest
