# バイナリ・モデル
# bin/
# *.bin

# Pythonキャッシュ
__pycache__/*
*.pyc
*.pyo
*.pyd

# 仮想環境
.venv/
venv/

# OS生成ファイル
.DS_Store
Thumbs.db

# その他
*.log

.env

*/convert_xml_to_json/data/outputs/*
*/convert_xml_to_json/data/output_keywords/*
